*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: black;
}

nav{
    flex: 1;
    text-align: right;
    
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
    background: white;
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0,5;
}
a:hover{
    background: gray;
    transform: translateY(-2px);
}
.p{
    color: white;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(0, 0, 0);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 150px;
}
.col-2{
    max-width: 50%;
    padding: 50px 0;
}
.col-2 img{
    width: 400px;
    width: 85%;
    padding-right: auto;
    padding-left: auto;
}
.col-2 a:hover{
    transform: translateX(-10px);
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: white;
}
.col-2 p{
    color: white;
}
.btn{
    display: inline-block;
    background: white;
    color: black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:  0.5s;
}
.btn:hover{
    background: gray;
}
.List.Product{
    background-color: black;
    
}
.col-3{
    flex-basis: 20%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 400px;
    object-fit: cover;
    width: 100%;
}
.col-3 img:hover{
    transform: translateY(-5%);
}
h5{
    color: white;
    margin-top: 50px;
    font-size: large;
}
h3{
    font-weight: normal;
    color: white;
    margin-bottom: 3%;
    font-size: x-large;
}
h2{
    margin-top: 17%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px; 
    text-align: center;
    scroll-margin-bottom: 50%;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    text-align: center;
    transition: transform 0.5;
}
.col-4 img{
    width: 100%;
}
h4{
    color: black;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: goldenrod;
}
.col-4 :hover{
    transform: translateY(-10px);
}
.about{
    background-color:black ;
    text-align: center;
}
.content{
    color: white;
}
.image-section img{
    width: 100px;   
}
h7{
    color: white;
    font-weight: normal;
}


